<% content_for('body') do %>
  <%= tab_view :cc_maintab, :lazy_tabs => true, 
    :now_showing => 'ccCurriculumMaintenance',
    :segments => [
      [ :cc_curriculum_maintenance, loc('_cc_maintabcaption_curriculum_maintenance') ],
      [ :cc_course_program, loc('_cc_maintabcaption_course_program') ],
      [ :cc_path_maintenance, loc('_cc_maintabcaption_path_maintenance') ],
      [ :cc_user_maintenance, loc('_cc_maintabcaption_user_maintenance') ],
      [ :cc_study_monitoring, loc('_cc_maintabcaption_study_monitoring') ],
      [ :cc_manual_adjustments, loc('_cc_maintabcaption_manual_adjustments')]    
    ] %>
<% end %>

