.cc_cm_course_list {
  float: left;  
  margin-right: 3%;
  height: 40%;
  width: 250px;
  //display: none;
}

.cc_cm_course_list_sv {
  height: 300px;
  width: 270px;
  position: absolute;
}

.cc_cm_course_list_cv {
  height: 280px;
  width: 260px;
}

.cc_cm_course_list_cv .sc-list-item-view {
  font: 12px;
  width: 100px;
}

.cc_cm_subjects_in_course {
  float: left;  
  margin-right: 3%;
  height: 40%;
  width: 300px;  
}

.cc_cm_subjects_in_course_list_sv {
  height: 300px;
  width: 270px;
  //position: absolute;
}

.cc_cm_subjects_in_course_list_cv {
  height: 280px;
  width: 260px;
}


.cc_cm_subjects_in_course_list_cv .sc-list-item-view {
  font: 12px;
}

.cc_cm_subject_also_in_course {
  float: left;
  height: 40%;
  width: 270px;  
}

.cc_cm_subject_also_in_course_list_sv {
  height: 200px;
  width: 270px;
  //width: 20%;  
}


.cc_cm_subject_also_in_course_list_cv {
  height: 280px;
  width: 260px;
}

.cc_cm_subject_also_in_course_list_cv .sc-list-item-view {
   font: 12px;
}

.cc_cm_add_subjects_to_selected_course_pane_subjects_to_add_list{
  float: left; 
  width: 270px;
  margin-right: 3%;
}

.cc_cm_add_subjects_to_selected_course_pane_subjects_not_yet_in_course_list{
  float: left; 
  width: 270px;
  
}

.cc_cm_add_subjects_to_selected_course_pane_subjects_to_add_list_sv {
  height: 200px;
  width: 270px;
}

.cc_cm_add_subjects_to_selected_course_pane_subjects_to_add_list_cv .sc-collection-item {
  position:relative;
  font: 12px;
  //height: 300px;
  //width: 20%;
}

.cc_cm_add_subjects_to_selected_course_pane_subjects_already_in_course_list_sv {
  height: 200px;
  width: 270px;
}

.cc_cm_add_subjects_to_selected_course_pane_subjects_already_in_course_list_cv .sc-collection-item {
  position:relative;
  font: 12px;
  //height: 300px;
  //width: 20%;
}
