/* Main views in cc_curriculum_maintainance */
#cc_curriculum_maintenance_tab {
 position: absolute;
 top: 30px;
 left: 5px;
 height: 900px;
 width: 900px; 
}


#cc_cm_course_list {
  position: absolute;
  top: 60px;
  left: 20px;
  height: 400px;
  width: 300px;
}

#cc_cm_subjects_in_course {
  position: absolute;
  top: 60px;
  left: 320px;
  height: 400px;
  width: 300px;  
}

#cc_cm_subject_also_in_course {
  position: absolute;
  top: 60px;
  left: 620px;
  height: 400px;
  width: 300px;  
}

/* Course list */

#cc_cm_course_list_sv {
  height: 300px;
  width: 270px;
}


/* subjects in course list */

#cc_cm_subjects_in_course_list_sv {
  height: 300px;
  width: 270px;
  //position: absolute;
}


/* Subjects also in course list */

#cc_cm_subject_also_in_course_list_sv {
  height: 200px;
  width: 270px;
  //width: 20%;  
}


/* Add subjects to selected course pane */

/* DIVs in pane */

#cc_cm_add_subjects_to_selected_course_pane_subjects_to_add_list{
  position: absolute;
  top: 20px;
  left: 20px;
  height: 400px;
  width: 270px;
}

#cc_cm_add_subjects_to_selected_course_pane_subjects_not_yet_in_course_list{
  position: absolute;
  top: 20px;
  left: 300px;
  height: 400px;
  width: 270px;
}

#cc_cm_add_subjects_to_selected_course_pane_select_different_department{
  position: absolute;
  top: 20px;
  left: 600px;
  height: 400px;
  width: 270px;
}


#cc_cm_add_subjects_to_selected_course_pane_subjects_to_add_list_sv {
  height: 200px;
  width: 270px;
}

#cc_cm_add_subjects_to_selected_course_pane_subjects_already_in_course_list_sv {
  height: 200px;
  width: 270px;
}

#cc_cm_add_subjects_to_selected_course_pane_select_different_department_sv {
  height: 200px;
  width: 200px;
}

