#ae_ci_advice_advice_label {
   position: absolute;
   top: 10px;
   left: 10px;
   margin-top: 0px;       
}

#ae_ci_advice_advice_sv {
   position: absolute;
   top: 10px;
   left: 200px;
   height: 300px;
   width: 300px; 
}
