#ae_chosen_candidate {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 50px;
  width: 500px;   
}

#ae_choose_candidate {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 600px;
  width: 900px;
}

#ae_choose_candidate_sv {
  height: 200px;
  width: 270px;
}

#ae_candidate_information {
  position: absolute;
  top: 80px;
  left: 20px;
  height: 600px;
  width: 900px;   
}

#ae_candidate_information_sv {
  position: absolute;  
}

#ae_candidate_information_views {
  position: absolute;
  left: 210px;
  top: 0px;
  height: 500px;
  width: 600px; 
  border: solid 1px #AAAAAA;
  background-color: #E6E3EF;   
}


#ae_candidate_information_student_information {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 500px;
  width: 600px; 
}

#ae_candidate_information_commission_information {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 500px;
  width: 600px;
}

#ae_candidate_information_evaluation {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 500px;
  width: 600px; 
}

#ae_candidate_information_performance_information {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 500px;
  width: 600px;
}

#ae_candidate_information_overview {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 500px;
  width: 600px; 
}

#ae_candidate_information_admission_test {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 500px;
  width: 600px;
}

#ae_ci_si_firstname_lv {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 3px;   
  width: 100px;
}

#ae_ci_si_firstname_tfv {
  position: absolute;
  top: 10px;
  left: 120px;
  width: 200px;
}

#ae_ci_si_inbetween_lv {
  position: absolute;
  top: 50px;
  left: 10px;
  margin: 3px;   
  width: 100px;
}

#ae_ci_si_inbetween_tfv {
  position: absolute;
  top: 50px;
  left: 120px;
  width: 200px;
}
