.Login_EntryPage {
	position: relative;
	left: 35%;
	width: 30%;
	margin-top: 10%;
	border: solid 1px gray;
	text-align: center;
}

.Login_EntryPage table {
	margin-left: 10%;
	text-align: left;	
}

.Login_EntryPage_NameLabel {
	text-align: right;
}

td.Login_EntryPage_PasswordLabel{
	text-align: right;	
}

td.Login_EntryPage_Buttons {
	text-align: center;
}

.login_entry_page_user_type_scrollview {
	width: 150px;
	height: 100px;	
}

.login_entry_page_user_type_collectionview {
	width: 100%;
}

.login_entry_page_user_type_collectionview .sc-collection-item {
	position: relative;
	//border: 1px solid red;
}